@media only screen and (max-width: 678px) {
.catBox{
height: 230px !important;
width: 32% !important;

}

}
.HomeCategory{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 70px;
  /* font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; */
}
.catBox {
  position: relative;
  height: 400px;
  width: 300px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  overflow: hidden;
  transition: background-size 2s ease;
}

.catBox:hover {
  border-radius: 0;
  cursor: pointer;
  background-size: 150%; /* Adjust the zoom level as desired */
}

.catBox h2 {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%, 0);
  color: #fff; /* Adjust text color as needed */
  z-index: 1; /* Ensure text is above image */
}


